<!DOCTYPE html>
<html>
<body>
    <h1>Home Page</h1>
    <p>My first paragraph.</p>
    <nav>
        <ul>
            <li>
                <a href="/logout">Logout</a>
            </li>
            <li>
                <a href="/login">Login Using Email</a>
            </li>
            <li>
                <a href="/">HomePage</a>
            </li>
        </ul>
    </nav>
    <a href="/auth/google">Google</a>
    <a href="/auth/facebook">facebook</a>
    <a href="/register">Email Sign up</a>
    
</body>

</html>