<!DOCTYPE html>
<html>
<body>
    <h1>My First Heading</h1>
    <p>My first paragraph.</p>
    <nav>
        <ul>
            <li>
                <a href="/auth/logout">Logout</a>
            </li>
            <li>
                <a href="/auth/login">Login</a>
            </li>
            <li>
                <a href="/">HomePage</a>
            </li>
        </ul>
    </nav>
    <a href="/auth/google">Google</a>
    <a href="/auth/facebook">facebook</a>
    <button>Email</button>
</body>

</html>