<h1>Sign Up</h1>

<form action="/verifyEmail" method="post">
    <div>
        <label>email:</label>
        <input type="text" name="email"/>
    </div>
    <div>
        <label>username:</label>
        <input type="text" name="username"/>
    </div>
   
    <div>
        <input type="submit" value="Verify User"/>
    </div>
</form>

<a href="/">home</a>